.left {
    background-color: #131e32;

    .mini-menu {
        background-color: #070a14;

        &-list {
            list-style: none;
            margin: 0;
            padding: 0;

            li {
                font-size: 13px;
                margin: 5px 0px;
                padding: 10px 15px;
                color: #ffffff;

                img {
                    width: 45px;
                }

                span {
                    margin-top: 5px;
                }
            }

            li.active {
                background-color: #2a3550;
                border-left: 2px solid #5a83ff;
            }
        }
    }

    .main-menu {
        padding-top: 30px;
        background-color: #131e32;
        border-left: 2px solid #171d2f;
        border-top: 2px solid #171d2f;
        border-radius: 4px;
        background: url('/assets/img/football-bg-2.png');
        background-repeat: no-repeat;
        background-size: contain;
        background-position: -50px -50px;


        &-header {
            color: #ffffff;
            margin-bottom: 20px;
        }

        &-leagues {
            ul {
                list-style: none;
                margin: 0;
                padding: 0;


                li {
                    padding: 15px;
                    background-color: #ffffff;
                    margin-bottom: 5px;
                }

                li.active {
                    background-color: #5a83ff;
                }
            }
        }

        &-countries {
            margin-top: 30px;

            .countries-header {
                color: #ffffff;
                font-size: 21px;
            }

            .countries-content {
                margin-top: 30px;

                .country-cart {
                    padding: 15px 0px;
                    border-bottom: 1px solid #29344e;

                    .country-logo {}

                    .country-content {
                        margin-left: 20px;

                        &-name {
                            color: $text-color;
                            font-size: 12px;
                        }

                        &-league {
                            color: $second-text-color;
                            font-size: 10px;
                        }
                    }
                }
            }
        }

    }
}

@media only screen and (max-width: $x-small) {
    .left {
        display: none;
    }
}

@media only screen and (min-width: $x-small) and (max-width: $small) {
    .left {
        display: none;
    }
}

@media only screen and (min-width: $small) and (max-width: $medium) {
    .left {
        display: none;
    }
}

