.right {
    background-color: #131e32;
    .barcode {
        margin: 15px 0px;
        i{
            font-size: 73px;
            color: #ffffff;
            margin: 5px 0px;
        }
    }

    .right-tabs {
        &-list {
            list-style: none;
            margin-left: 0;
            padding: 0;
            display: flex;

            li{
                width: 50%;
                padding: 15px 0;
                text-align: center;;
            }
            .betslip {
                background-color: #2a3550;
                color: #5a83ff;
                border-bottom: 5px solid #5a83ff;
            }

            .openbet {
                color: $text-color;
                border-top: 2px solid #2a3550;
                border-right: 2px solid #2a3550;

                .badge{
                    margin-left: 3px;
                    color: $text-color;
                    background-color: #5a83ff;
                }
            }
        }
    }
}