---
layout: layout
---
<div id="page" class="page blog-post-page"></div>
{% include header.html %}

<div id="main" class="site-main">
    <div class="page-wrapper">
        <a class="blog-back-button" href="index.html#blog">
            <i class="fa fa-angle-left"></i>
        </a>



        <div class="blog-post-content">

            <div id="archives">

                <div class="container">
                    <div class="row">
                        {% for category in site.categories reversed %}
                        <div class="archive-group">
                            {% capture category_name %}{{ category | first }}{% endcapture %}
                            <div id="#{{ category_name | slugize }}"></div>
                            <p></p>

                            <div class="col-xs-12">
                                <h3 class="category-head">{{ category_name }}</h3>
                                <a name="{{ category_name | slugize }}"></a>
                            </div>
                            {% for post in site.categories[category_name] %}

                            <div class="col-xs-12 col-sm-8">
                                <article class="archive-item">
                                    <h4>
                                        <a href="{{ site.baseurl }}{{ post.url }}">{{post.title}}</a>
                                    </h4>
                                </article>
                            </div>
                            <div class="col-xs-12 col-sm-4">
                                <h4>{% assign m = post.date | date: "%-m" %} {{ post.date | date: "%-d" }} {% case m %} {% when
                                    '1' %}Ocak {% when '2' %}Şubat {% when '3' %}Mart {% when '4' %}Nisan {% when '5' %}Mayıs
                                    {% when '6' %}Haziran {% when '7' %}Temmuz {% when '8' %}Ağustos {% when '9' %}Eylül
                                    {% when '10' %}Ekim {% when '11' %}Kasım {% when '12' %}Aralık {% endcase %} {{ post.date
                                    | date: "%Y" }}</h4>
                            </div>


                            {% endfor %}
                        </div>
                        {% endfor %}
                    </div>
                </div>

            </div>



        </div>
    </div>
</div>
<!-- /Single Post page -->
<script async src="https://static.addtoany.com/menu/page.js"></script>