<section id="about">
    <div class="container-fluid">
        <div class="col-xs-12 col-sm-12 col-md-8 col-md-offset-2 about-text">
            <p>Merhaba,</p>
            <p>Ben Şefik Furkan Bayram
            </p>
            <p>
                <span class="color2">Bilgiasyar Teknolojisi ve Bilişim Sistemleri</span> 4. sınıf öğrencisiyim.</p>
            <p>
                Frontend alanında kendimi geliştiriyorum.</p>
            <p>Boş zamanlarımda bildiğim şeyleri sizlerle paylaşmaya çalışıyorum.</p>
            <p>Eğer benimle iletişime geçmek isterseniz</p>
            <p>
                <span class="gmail">sefikfurkanbayram@gmail.com</span>
                adresinden veya
                <a class="facebook text-style" href="https://www.facebook.com/profile.php?id=100006148155735" target="_blank">facebook</a>
                <a class="instagram text-style" href="https://www.instagram.com/furkanbayram2/" target="_blank">instagram</a>
               
                <a class="twitter text-style" href="https://twitter.com/sfurkanbayram" target="_blank">twitter</a> ve  <a href="https://www.linkedin.com/in/sefikfurkanbayram"class="linkedin text-style" target="_blank">linkedin</a> hesaplarımdan bana ulaşabilirsiniz.
        </div>
    </div>
</section>
