<section id="projects">
    <div class="container">
        <div class="panel panel-default">
            <div class="panel-body">
{% highlight css %} 
.kisisel_bilgiler{
adi: "sefik furkan bayram"; 
dogum_tarihi: 18.07.1996; 
okul: "Mersin Üniversitesi"; 
bolum: "Bilgisayar Teknolojisi ve Bilişim Sistemleri"; 
sinif: 3; 
}

.egitim{
ilkokul_ortaokul: "Halit Ziya Uşaklıgil İlköğretim Okulu";
lise: "Mustafakemalpaşa Kız Teknik ve Meslek Lisesi";
universite: "Mersin Üniversitesi";

}

.ilgi_alanlari{
programlama: ("HTML5", "CSS3", "javascript", "UI Design");
}

.deneyim{
  2014: ("TAT Gıda Sanayi A.Ş.", "Information Technology") ;
  2016: ("Telpa Telekominikasyon A.Ş.", "Intern .NET Developer");
  2017: ("Net Hareket", "Junior Frontend Developer");
} 
{% endhighlight %}
              
            </div>
        </div>
    </div>
</section>
