<section id="projects">
<div class="container">
  <h3>HAKKIMDA</h3>
  <div class="panel panel-default">
    <div class="panel-body">
		<h5>
				
			Merhaba ben Furkan. 18 Temmuz 1996 doğumluyum.
		</h5>
		<h5>
			İstanbul’da doğdum büyüdüm. İlkokul ve lise 1’nci sınıfı İstanbul’da okudum. Liseyi Bursa’da tamamladım.
		</h5>
    	<h5>
			Mersin Üniversitesi Bilgisayar Teknolojisi ve Bilişim Sistemleri 4. sınıf öğrencisiyim.
		</h5>
		<h5>
			
		</h5>
		<h5>
			



    </div>
  </div>
</div>
</section>
