.breadcrumb-wrapper {
  background-color: #f5f5f5;

  .breadcrumb {
    background-color: transparent;
    li {
      &.active {
        a {
          color: var(--dark-color);
          font-weight: 600;

          &:after {
            display: none;
          }
        }
      }

      a {
        color: #a1a1a1;
        font-size: 0.8125rem;

        &:after {
          content: '';
          display: inline-block;
          width: 0;
          height: 0;
          border: 5px solid transparent;
          border-left-color: #a1a1a1;

          vertical-align: middle;
          margin-right: 15px;
          margin-left: 15px;
          ;
        }
      }
    }
  }
}