.contact-page {
  margin-top: 25px;

  .form-area {
    margin-bottom: 175px;

    .contact-header {
      height: 170px;
      border-radius: 4px;
      background-color: #6236ff;

      .icon {
        border: 1px solid var(--light-color);
        border-radius: 50%;

        i {
          color: var(--light-color);
          padding: 35px;

        }
      }
    }

    .contact {
      margin-top: 35px;

      .contact-left {
        .title {
          .header {
            font-size: 1.25rem;
            font-weight: 700;
          }

          .info {
            font-size: .875rem;
          }
        }

        .contact-form {
          margin-top: 25px;

          .form-group {
            margin-bottom: 10px;

            label {
              font-size: 0.875rem;
              font-weight: 700;
            }

            input,
            select {
              background-color: #f5f5f5;
              height: 55px;
              border: none;
              padding: 0 20px;
              font-size: 0.875rem;

              &:focus {
                border: none;
                outline: none;
                box-shadow: none;
                ;
              }

            }

            textarea {
              background-color: #f5f5f5;
              border: none;
            }
          }

          button {
            background-color: #6236ff;
          }
        }


      }

      .contact-right {
        .section {
          background-color: #f5f5f5;
          padding: 30px;
          margin-bottom: 30px;

          &-title {
            margin-bottom: 25px;
            span {
              font-size: 1.25rem;
              font-weight: 700;
            }
          }

          ul {
            li {
              margin: 20px 0;
              .left {
                i {
                  padding: 10px;
                  background-color: var(--dark-color);
                  color: var(--light-color);
                  border-radius: 50%;
                }
              }

              .right{
                margin-left: 15px;
                span{
                  font-weight: 600;
                }
                a{
                  font-size: .875rem;
                  color: var(--dark-color);
                }
              }
            }
          }
        }
      }
    }


  }
}