﻿footer {
  .top {
    padding: 20px 0;
    background-color: var(--ternary-color);

    .social {
      a {
        font-size: 1.5rem;
      }
    }
  }

  .middle {
    padding: 65px 0;
    background-color: var(--dark-color);

    .middle-wrapper {
      flex-direction: row;

      @media (max-width: 992px) {
        flex-direction: column;
      }

      .left {
        @media (max-width: 992px) {
          justify-content: center;
        }

        ul {
          .title {
            color: var(--light-color);
            font-size: 0.875rem;
            padding-bottom: 5px;
          }

          li {
            a {
              color: var(--secondary-color);
              font-size: 0.75rem;
            }
          }
        }
      }

      .right {
        form {
          label {
            font-size: .75rem;
            color: var(--secondary-color);
          }

          input:not([type='checkbox']) {
            background-color: var(--ternary-color);
            border: 0;
            border-radius: 4px;
            font-size: .75rem;
            padding: 5px 15px;
            min-width: 250px;
            height: 48px;
          }

          button {
            background-color: #777777;
            border: none;
            position: absolute;
            right: 22px;
            top: 34px;
            padding: 4px 9px;
            border-radius: 4px;

            i {
              color: var(--ternary-color);
            }
          }

          .check {
            color: var(--secondary-color);
          }
        }
      }
    }

  }

  .bottom {
    padding: 20px 0;
    background-color: var(--ternary-color);

    .left,
    .right {
      span {
        color: var(--secondary-color);
        font-size: .875rem;
      }
    }
  }
}