﻿footer {
  .top {
    padding: 20px 0;
    background-color: var(--ternary-color);

    .social {
      a {
        font-size: 1.5rem;
      }
    }
  }

  .middle {
    padding: 65px 0;
    background-color: var(--dark-color);

    .left {
      ul {
        .title {
          color: var(--light-color);
          font-size: 0.875rem;
        }

        li {
          a {
            color: var(--secondary-color);
            font-size: 0.875rem;
          }
        }
      }
    }

    .right {
      form {
        label {
          font-size: .75rem;
          color: var(--secondary-color);

        }

        input:not([type='checkbox']) {
          background-color: var(--ternary-color);
          border: 0;
          border-radius: 4px;
          font-size: .75rem;
          padding: 5px 15px;
          width: 250px;
        }

        .check {
          color: var(--secondary-color);
        }
      }
    }
  }

  .bottom {
    padding: 20px 0;
    background-color: var(--ternary-color);

    .left,
    .right {
      span {
        color: var(--secondary-color);
        font-size: .875rem;
      }
    }
  }
}