﻿.gallery {
  background-color: #f5f5f5;
  padding-top: 50px;
  padding-bottom: 50px;
  .gallery-header{
    margin-bottom: 40px;
    .title{
      span{
        font-size: 1.5rem;
      }
    }
    .see-all{
      a{
        border: 1px solid var(--dark-color);
      }
    }
  }
  .swiper-container {
    .swiper-wrapper {
      .swiper-slide {
        width: 25%;

        .item {
          height: 430px;

          img {
            position: absolute;
            z-index: -1;
            ;
          }

          .title {
            span {
              font-size: 20px;
              font-weight: 700;
              line-height: 1.5;
              text-align: left;
              color: var(--light-color);
            }
          }
        }
      }
    }
  }
}