.image-text {
  background: url(/ok/assets/images/product_list_abstract.png) no-repeat center center;
  background-size: cover;
  min-height: 350px;

  .text {
    @media (min-width: 992px) {
      width: 50%;
    }

    .title {
      font-size: 1.5rem;
      margin-bottom: 15px;
    }

    .description {
      font-size: .875rem;
      ;
    }
  }
}