﻿.media {
  display: flex;
  &-image-wrapper {
    img {
      max-height: 500px;
      object-fit: contain;
    }
  }

  &-icon-wrapper {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    i{
      font-size: 98px;
      color: var(--light-color);
    }
  }

  &-text-wrapper{
    bottom: 10px;
    a span{
      color: var(--light-color);
      letter-spacing: 2px;
    }
  }
}