﻿.media {
  display: flex;
  
  &-image-wrapper {
    z-index: -1;
    img {
		width: 100%;
		height: auto;
      object-fit: contain;
    }
  }

  &-icon-wrapper {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    i{
      font-size: 98px;
      color: var(--light-color);
    }
  }
}