﻿.parallax {
  .parallax-item {
    background-color: var(--dark-color);
    height: 65vh;
    .item-left {
      img {}
    }

    .item-right {
      .item-name {
        span{
          font-size: 36px;
        font-weight: 700;
        color: var(--light-color);
        }
      }

      .item-desc {
        font-size: 16px;
        line-height: 1.5;
        color: var(--light-color);
      }
      .item-button {
        .item-cta-btn {
          margin-top: 1rem;
        }
      }
    }

  }
}