.product-list {
  padding-top: 45px;

  @media (max-width: 992px) {
    .container {
      max-width: fit-content;
      padding-left: 0;
      padding-right: 0;
    }
  }

  .categories {
    .header {

      .text,
      i {
        color: var(--dark-color);
      }
    }

    .category-list {
      &.level-1 {
        .category-list-item {
          .title {
            font-weight: 600;
          }

          a {
            color: var(--dark-color);
            font-size: 0.8125rem;
          }

          .level-2 {
            li {
              a {
                margin-left: 15px;
              }
            }
          }
        }
      }
    }
  }

  .products-wrapper {
    .products {
      border-width: 1px 0 0 1px;
      border-color: rgb(229, 229, 229);
      border-style: solid;
      margin-top: 25px;

      .product {
        border-width: 0 1px 1px 0;
        border-style: solid;
        border-color: rgb(229, 229, 229);
        width: 33.33%;

        @media (max-width: 992px) {
          width: 50%;
        }

        padding: 25px 15px;

        &-image {
          img {
            max-width: 100%;
          }
        }

        &-name {
          span {
            font-size: 1rem;
            font-weight: 600;
          }
        }
      }
    }

    .more {
      a {
        text-decoration: underline;
        font-weight: 600;
      }
    }

  }
}