.product-detail-wrapper {
  background-color: var(--dark-color);

  .breadcrumb {
    &-wrapper {
      background-color: transparent !important;
    }
  }

  .product-detail {
    padding-top: 50px;
    padding-bottom: 85px;

    @media (min-width: 992px) {}

    .product-image {

      @media (max-width: 992px) {
        margin-bottom: 50px;
      }

    }

    .product-info {

      @media (max-width: 992px) {
        padding: 0 15px;
        padding-bottom: 40px;
      }

      .name-wrapper {
        @media (max-width: 992px) {
          margin-bottom: 50px;
        }

        span {
          font-size: 1.5rem;
          color: var(--light-color);
        }
      }

      .size-wrapper {
        margin-top: 25px;

        ul {
          background-color: var(--ternary-color);

          li {
            width: 130px;
            text-align: center;
            height: 50px;

            a {
              font-size: 0.875rem;
              color: #a1a1a1;
              display: block;
              margin-top: 5px;
            }

            &.active {
              display: flex;
              align-items: center;
              justify-content: center;
              background-color: var(--light-color);

              a {
                color: var(--dark-color);
              }
            }
          }
        }
      }

      .title-wrapper {
        margin-top: 50px;
        text-align: center;

        span {
          font-size: 1.25rem;
          color: var(--light-color);
        }
      }

      .description-wrapper {
        margin-top: 15px;
        text-align: center;

        span {
          color: #a1a1a1;
          font-size: 0.875rem;
          line-height: 1.43;
        }
      }

      .features-wrapper {
        margin-top: 50px;

        .title {
          text-align: center;
          margin-bottom: 25px;

          span {
            font-size: 1.25rem;
            color: var(--light-color);
          }
        }

        .list {
          li {
            margin-right: 60px;

            &:last-child {
              margin: 0;
            }

            .image {
              background-color: var(--ternary-color);
              border-radius: 50%;
              border: 10px double #a1a1a1;
              width: 60px;

              i {
                padding: 12px;
                background-color: var(--light-color);
                border-radius: 50%;
              }
            }

            .text {
              span {
                margin-top: 5px;
                font-size: .8125rem;
                color: var(--light-color);
              }
            }
          }
        }
      }

      .video-wrapper {
        margin-top: 70px;
        border-radius: 4px;

        img {
          max-width: 100%;
          border-radius: 4px;

        }

        i {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          color: var(--light-color);
          font-size: 3rem;
        }

        .overlay {
          height: 100%;
          width: 100%;
          position: absolute;
          left: 0;
          top: 0;
          background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.64), rgba(238, 238, 238, 0));

        }
      }

      .test-info-wrapper {
        margin-top: 50px;

        .title {
          text-align: center;
          margin-bottom: 25px;

          span {
            font-size: 1.25rem;
            color: var(--light-color);
          }
        }

        .list {
          li {
            margin-right: 20px;

            &:last-child {
              margin: 0;
            }

            .image {
              background-color: var(--ternary-color);
              border-radius: 50%;
              border: 10px double #a1a1a1;
              width: 60px;

              i {
                padding: 12px;
                background-color: var(--light-color);
                border-radius: 50%;
              }
            }

            .text {
              text-align: center;

              span {
                margin-top: 5px;
                font-size: .75rem;
                color: var(--light-color);
              }
            }
          }
        }
      }
    }

  }


}

.releated-product-wrapper {
  margin-bottom: 120px;

  .releated-products-header {
    margin-bottom: 30px;

    .title {
      span {
        font-size: 1.5rem;
      }
    }

    .see-all {
      a {
        border: 1px solid var(--dark-color);
        background-color: transparent;
      }
    }
  }

  .releated-products {
    .swiper-wrapper {
      .swiper-slide {
        .product {
          border-width: 1px;
          border-style: solid;
          border-color: rgb(229, 229, 229);

          padding: 25px 15px;

          &-image {
            img {
              max-width: 100%;
            }
          }

          &-name {
            span {
              font-size: 1rem;
              font-weight: 600;
            }
          }
        }
      }
    }
  }

  .swiper-button-next,
  .swiper-button-prev {
    width: 40px;
    height: 40px;
    border-radius: 4px;
    background-color: #a1a1a1;

    &:hover {
      background-color: var(--dark-color);

    }

    &:after {
      color: var(--light-color) !important;
      font-size: 0.875rem;

    }

  }
}