﻿nav.navbar {
  top: 0;
  z-index: 1000;
  .notification {
    background-color: #413a36;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    .text {
      span {
        font-size: 14px;
      }
    }
  }
  .navbar-content {
    padding: 20px;
    padding-top: 0;

    .left {
      .title {
        border-left: 2px solid var(--text);
        padding-left: 15px;
        span {
          font-family: var(--gotham);
          font-weight: 700;
          font-size: 14px;
          line-height: 1.29;
        }
      }
    }
    .center {
      border-radius: 24px;
      -webkit-backdrop-filter: blur(15px);
      backdrop-filter: blur(15px);
      box-shadow: 15px 15px 50px 0 rgba(0, 0, 0, 0.04);
      border: solid 1px rgba(255, 255, 255, 0.3);
      background-image: linear-gradient(
        95deg,
        rgba(255, 255, 255, 0.4) 2%,
        rgba(255, 255, 255, 0.3) 98%
      );
      height: 60px;
      padding: 0 20px;
      .main-menu {
        &-item {
          display: flex;
          align-items: center;
          &-link {
            color: var(--text);
            padding: 0px 16px;
            font-size: 14px;
            font-weight: 500;
            height: 44px;
            display: flex;
            align-items: center;
            border-radius: 100px;
            transition: 0.2s;
            position: relative;
            span {
              padding-right: 7px;
            }

            &:hover {
              cursor: pointer;
              background-color: #dddddd;
            }
          }
          .sub-menu {
            position: absolute;
            visibility: hidden;
            opacity: 0;
            display: none;
            transition: opacity 0.3s ease-in-out;
            top: 0;
            &-content {
              margin-top: 79px;
              border-radius: 24px;
              box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
              background-color: #ffffff;
              padding: 26px 26px 26px 42px;
              .left {
                border-right: 1px solid #dddddd;
                padding-right: 50px;
                ul {
                  li {
                    a {
                      font-size: 14px;
                      font-family: var(--gotham);
                      font-weight: 500;
                      color: var(--text);
                      display: block;
                    }
                    &:not(:last-child) {
                      a {
                        padding-bottom: 15px;
                      }
                    }
                  }
                }
              }
              .right {
                padding-left: 50px;
                .menu-cart {
                  border-radius: 8px;
                  .image {
                  }
                  .content {
                    background-color: #f0f0f0;
                    border-bottom-left-radius: 8px;
                    border-bottom-right-radius: 8px;
                    padding: 0px 15px;
                    .title {
                      color: #000000;
                      font-family: var(--gotham);
                      font-weight: 700;
                      margin-top: 10px;
                      margin-bottom: 6px;
                    }
                    .time {
                      color: #000000;
                      font-size: 14px;
                      font-family: var(--gotham);
                      font-weight: 300;
                      margin-bottom: 5px;
                    }
                  }
                }
                .all {
                  margin-top: 12px;
                  a {
                    color: var(--text);
                    font-family: var(--source);
                    font-size: 14px;
                    text-decoration: underline;
                  }
                }
              }
            }
          }
          &:hover {
            cursor: pointer;
            .sub-menu {
              left: 35;
              visibility: visible;
              opacity: 1;
              display: block;
              overflow: hidden;
            }
            // color: #ffffff;
          }
        }
        .main-menu-item.custom-border-right {
          &::after {
            background-color: #dddddd;
            width: 1px;
            height: 28px;
            content: "";
            display: block;
          }
        }
        .main-menu-item.language {
          height: 34px;

          background-color: var(--light);
          border-radius: 17px;
          padding: 4px 10px;
          .main-menu-item-link {
            padding: 0;
            height: 34px;
          }
        }
      }
    }

    .right {
      .basket {
        padding-right: 35px;
        .btn-basket {
          width: 42px;
          height: 42px;
          border-radius: 100px;
          background-color: #797671;
          .badge {
            background-color: #ff0000;
            height: 18px;
            width: 18px;
            border-radius: 22px;
            left: -7px;
            top: 10px;
          }
        }
      }
      .actions {
        .btn-sign-up {
          margin-right: 10px;
        }
      }
      .mobile-menu {
        .btn-mobile-menu {
          background-color: var(--orange);
          border-top-left-radius: 25px;
          border-bottom-left-radius: 25px;
          box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
          height: 47px;
          margin-right: -20px;
          position: relative;
          width: 80px;
          &:before,
          &:after {
            content: "";
            height: 2px;
            background-color: #ffffff;
            position: absolute;
          }
          &:before {
            width: 22px;
          }
          &:after {
            width: 17px;
            bottom: 13px;
            left: 33px;
          }
        }
      }
    }
  }
}


.sticky{
  position: fixed;
  top: 0;
  background-color: #ffffff;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
  transition: .5s;
  z-index: 1000;
}

.sticky + .content {
  padding-top: 175px;
}

