﻿:root {

  --light-color: #ffffff;
  --dark-color: #131415;
  --primary-color: #6236ff;
  --secondary-color: #999999;
  --ternary-color: #1f1f20;

  --sm-screen: 576px;
  --md-screen: 768px;
  --lg-screen: 992px;
  --xl-screen: 1200px;
}