﻿:root {

  --orange: #f8981d;
  --light: #e3e1df;

--text: #665952;
--text-light: #4A4A4A; 
--text-dark: #1D3A57;
--icon-light: #999999;

--sm-screen: 576px;
--md-screen: 768px;
--lg-screen: 992px;
--xl-screen: 1200px;


--roboto: 'Roboto', sans-serif;
--gotham: 'Poppins', sans-serif;
--source: 'Source Sans Pro', sans-serif;
}
