body {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  background-color: #131415; }

ul {
  list-style: none;
  padding-left: 0; }

a {
  font-size: 0.875rem;
  color: #ffffff; }
  a:hover {
    text-decoration: none; }

.navbar-top {
  background-color: #1f1f20;
  color: #ffffff;
  padding-top: 11px;
  padding-bottom: 11px;
  font-size: .75rem; }
  @media (max-width: 992px) {
    .navbar-top {
      display: none; } }
.navbar-middle {
  background-color: #131415; }
  .navbar-middle .main-menu-wrapper {
    justify-content: center; }
    @media (min-width: 768px) {
      .navbar-middle .main-menu-wrapper {
        justify-content: space-between; } }
    .navbar-middle .main-menu-wrapper .main-menu .navbar-nav.level-1 {
      height: 80px; }
      .navbar-middle .main-menu-wrapper .main-menu .navbar-nav.level-1 .nav-item {
        position: relative;
        height: 100%;
        display: flex;
        align-items: center; }
        .navbar-middle .main-menu-wrapper .main-menu .navbar-nav.level-1 .nav-item .nav-link {
          font-size: .875rem; }
          .navbar-middle .main-menu-wrapper .main-menu .navbar-nav.level-1 .nav-item .nav-link:after {
            content: '';
            bottom: 15px;
            top: inherit;
            left: 0;
            margin-top: 0;
            position: absolute;
            right: 0;
            left: 0;
            width: 5px;
            height: 5px;
            background: #6236ff;
            border-radius: 100%;
            margin-left: auto;
            margin-right: auto;
            opacity: 0; }
        .navbar-middle .main-menu-wrapper .main-menu .navbar-nav.level-1 .nav-item-sub-menu {
          position: absolute;
          visibility: hidden;
          opacity: 0;
          transition: opacity 0.3s linear; }
        .navbar-middle .main-menu-wrapper .main-menu .navbar-nav.level-1 .nav-item:hover .nav-link:after {
          opacity: 1; }
        .navbar-middle .main-menu-wrapper .main-menu .navbar-nav.level-1 .nav-item:hover .nav-item-sub-menu {
          visibility: visible;
          opacity: 1;
          position: absolute;
          top: 80px;
          left: 0;
          width: 50vw;
          font-size: 0.875rem;
          background-color: #ffffff; }
          .navbar-middle .main-menu-wrapper .main-menu .navbar-nav.level-1 .nav-item:hover .nav-item-sub-menu .sub-menu-list.level-2 .sub-menu-item {
            max-width: 185px; }
            .navbar-middle .main-menu-wrapper .main-menu .navbar-nav.level-1 .nav-item:hover .nav-item-sub-menu .sub-menu-list.level-2 .sub-menu-item .sub-menu-link {
              color: #131415; }
            .navbar-middle .main-menu-wrapper .main-menu .navbar-nav.level-1 .nav-item:hover .nav-item-sub-menu .sub-menu-list.level-2 .sub-menu-item .level-3 .sub-menu-item .cat-cover {
              position: absolute;
              bottom: -25px;
              right: 0;
              width: 100%;
              height: 100%;
              max-width: 290px;
              opacity: 0;
              transition: opacity .3s ease; }
            .navbar-middle .main-menu-wrapper .main-menu .navbar-nav.level-1 .nav-item:hover .nav-item-sub-menu .sub-menu-list.level-2 .sub-menu-item .level-3 .sub-menu-item:hover .cat-cover {
              opacity: 1; }
  .navbar-middle .right .search i {
    color: #ffffff; }
  .navbar-middle .right .language span {
    color: #ffffff;
    font-size: 0.875rem;
    font-weight: 700; }
    .navbar-middle .right .language span.active {
      color: #999999; }
.navbar-bottom {
  background-color: #6236ff;
  color: #ffffff;
  padding: 15px; }
  .navbar-bottom span {
    font-size: .8125rem;
    line-height: 1rem; }

.left-menu {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  height: 100vh;
  width: 100%;
  background-color: #ffffff; }
  .left-menu .top .hamburger-menu {
    font-size: 18px; }
  .left-menu .sub-menu-list.level-1 .sub-menu-item .sub-menu-link {
    color: #131415; }
  .left-menu .bottom {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: whitesmoke; }
    .left-menu .bottom .left-menu-user-menu a {
      color: #131415;
      text-decoration: underline;
      padding-left: 8px;
      font-size: 0.875rem; }
    .left-menu .bottom .left-menu-search i {
      position: absolute;
      bottom: 30px;
      left: 25px; }
    .left-menu .bottom .left-menu-search input {
      border-radius: 0;
      border: none;
      width: 100%;
      padding-top: 10px;
      padding-bottom: 10px;
      padding-left: 35px;
      font-size: .875rem; }
      .left-menu .bottom .left-menu-search input:focus {
        outline: 0; }

/*# sourceMappingURL=main.css.map */
