//GLOBAL START
body {
  background-color: #FAFAFA;
}

html {
  position: relative;
  min-height: 100%;
}

.form-control:focus {
  box-shadow: none !important;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  line-height: 60px;
  /* Vertically center the text there */
  background-color: #00A3E2;
}

//GLOBAL END
//NAVBAR START
nav {
  background-color: #17a2b8;
  .navbar-brand {
    img {
      width: 100px;
    }
  }
  span {
    margin-right: 10px;
    color: white;
    font-weight: 600;
  }
}

//NAVBAR END
//SHOP START
.main-left {
  margin-top: 25px;
}

.main-right {
  .card {
    min-height: 360px;
    margin-top: 25px;
    margin-bottom: 25px;
    img {
      max-height: 150px;
    }
  }
  .card-text {
    min-height: 120px;
  }
  .pager {
    list-style-type: none;
    display: flex;
    justify-content: center;
  }
}

//SHOP END
//DETAIL START
#detail {
  .detail-left {
    margin-top: 100px;
    img {
      max-height: 400px;
    }
  }
  .detail-right {
    margin-top: 100px;
  }
}

//DETAIL END
//ADD START
.add-main {
  margin-top: 25px;
}

//ADD END
