.content.ask-expert {
  .ask-expert-wrapper {
    .widget-image {
      img {
        min-height: 250px;
      }
    }
    .breadcrumb {
      margin-top: 20px;
      margin-bottom: 30px;
      padding: 0;
      @media (max-width: 768px) {
        margin-bottom: 15px;
      }
    }

    .widget-title {
      margin-bottom: 25px;

      span {
        font-size: 50px;
        font-weight: 500;
        font-family: var(--gotham);
        color: #000000;
      }
      @media (max-width: 768px) {
        margin-bottom: 15px;
        span {
          font-size: 30px;
        }
      }
    }

    .ask-expert-content {
      padding-bottom: 110px;
      .info {
        @media (min-width: 768px) {
          margin-right: 30px;
        }
        p {
          font-size: 17px;
          font-weight: 300;
          color: #3c3c3c;
          margin-bottom: 30px;
        }
      }

      form {
        @media (min-width: 768px) {
          margin-right: 30px;
        }
        .form-group {
          margin-bottom: 30px;
        }
        .custom-checkbox {
          margin-bottom: 25px;
          .custom-checkbox-label {
            font-size: 17px;
            color: #3c3c3c;
            font-weight: 300;
            a {
              font-weight: 400;
              text-decoration: underline;
              color: #3c3c3c;
            }
          }
        }
        .actions {
          margin-top: 55px;
        }
      }

      .info,
      form {
        @media (min-width: 768px) {
         width: 50%;
        }
      }
    }
  }
}
