.content.documents {
  .documents {
    padding-top: 175px;

    .breadcrumb {
      margin-top: 20px;
      margin-bottom: 30px;
      padding: 0;
      @media (max-width: 768px) {
        margin-bottom: 15px;
      }
    }

    .widget-title {
      margin-bottom: 25px;

      span {
        font-size: 50px;
        font-weight: 500;
        font-family: var(--gotham);
        color: #000000;
      }
      @media (max-width: 768px) {
        margin-bottom: 15px;
        span {
          font-size: 30px;
        }
      }
    }

    .documents-content {
      margin-bottom: 100px;

      .item {
        @media (min-width: 776px) {
        margin-bottom: 45px;

          .image {
            height: 300px !important;
          }
        }
        .image {
          background-color: #0079c2;
          width: 100%;
          height: 200px;
        }
        .title {
          margin-top: 25px;
          span {
            color: var(--text);
            font-size: 18px;
            font-family: var(--gotham);
            font-weight: 700;
          }
        }
      }

      .divider {
        margin: 45px 15px;
        opacity: 0.3;
      }
    }
  }
}
