.content.pricing {
  .pricing-wrapper {
    .breadcrumb {
      margin-top: 20px;
      margin-bottom: 30px;
      padding: 0;
      @media (max-width: 768px) {
        margin-bottom: 15px;
      }
    }

    .widget-title {
      margin-bottom: 45px;
      .title {
        font-size: 60px;
        font-weight: 700;
        font-family: var(--gotham);
        color: #000000;
        margin-bottom: 30px;
        width: 50%;
      }
      .description {
        width: 50%;
      }
      @media (max-width: 768px) {
        .title {
          font-size: 30px;
          width: 75%;
        }
        .description {
          font-size: 17px;
          font-weight: 500;
          width: 75%;
        }
      }
    }

    .pricing-content {
      margin-bottom: 230px;

      .nav-tabs {
        border-bottom: 0;
        margin-bottom: 70px;
        width: 50%;
        @media (max-width: 768px) {
          width: 100%;
          .user {
            a.btn {
              width: 172px;
              height: 116px;
            }
          }
        }
        .user {
          a {
            border-radius: 18px;
            color: var(--text);
            font-size: 16px;
            font-family: var(--source);
            font-weight: 700;
            box-shadow: 0 3px 6px 0 #00000029;
            height: 60px;
            &.active {
              color: #ffffff;
              background-color: var(--text);
            }
          }
        }
      }

      .tab-content {
        .user-cart {
          box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.1);
          background-color: #ffffff;
          padding: 12px 34px 12px 12px;
          margin-bottom: 20px;
          border-radius: 8px;
          @media (max-width: 768px) {
            .left {
              .info{
                .title{

                }
                .description{

                }
              }
            }

            .right{
              margin-bottom: 18px;
              .show{
                padding-left: 10px;
                a{

                }
              }

              .actions{
                .btn-dark{

                }
                .btn-basket{

                }
              }
            }
          }
          .left {
            margin-bottom: 25px;
            .info {
              .title {
                font-family: var(--gotham);
                font-weight: 700;
                font-size: 24px;
                color: #4b413c;
                margin-bottom: 9px;
              }
              .description {
                font-weight: 700;
                font-size: 14px;
                color: #4b413c;
              }
            }
          }

          .right {
            justify-content: space-between;
            .show {
              a {
                font-family: var(--source);
                font-weight: 700;
                color: var(--text);
                text-decoration: underline;
              }
            }

            .actions {
              .btn-dark {
                height: 50px;
                padding-left: 49.5px;
                padding-right: 49.5px;
                font-family: var(--source);
                font-weight: 700;
                font-size: 16px;
              }
              .btn-basket {
                height: 50px;
                font-family: var(--source);
                background-color: var(--orange);
                padding-left: 30px;
                padding-right: 30px;
                border: 0;
                .text {
                  padding-right: 10px;
                }
                .price {
                  border-left: 1px solid #d57e0f;
                  padding-left: 10px;
                  font-weight: 700;
                  font-size: 24px;
                }
              }
            }
          }
        }
      }
    }
  }
}
