.content.useful-information {
  padding-top: 175px;
  .useful {
    .breadcrumb {
      margin-top: 20px;
      margin-bottom: 30px;
      padding: 0;
      @media (max-width: 768px) {
        margin-bottom: 15px;
      }
    }

    .widget-title {
      margin-bottom: 25px;

      span {
        font-size: 50px;
        font-weight: 500;
        font-family: var(--gotham);
        color: #000000;
      }
      @media (max-width: 768px) {
        margin-bottom: 15px;
        span {
          font-size: 30px;
        }
      }
    }

    .useful-content {
      margin-bottom: 150px;

      .items{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        @media (max-width: 768px){
          grid-template-columns: 1fr;
          .item-cart{
            margin-right: 0px !important;
          }
        }
        .item-cart{
          margin-bottom: 85px;
          margin-right: 30px;
          .content{
            .title{
              margin-top: 30px;
              margin-bottom: 50px;
              min-height: 70px;
              span{
                font-size: 24px;
                font-family: var(--gotham);
                font-weight: 500;
              }
            }
            .description{
              font-size: 17px;
              font-weight: 300;
              color: #3c3c3c;
            }
          }
        }
      }

     .all{
     }
    }
  }
}
