footer .top {
  padding: 20px 0;
  background-color: var(--ternary-color); }
  footer .top .social a {
    font-size: 1.5rem; }

footer .middle {
  padding: 65px 0;
  background-color: var(--dark-color); }
  footer .middle .left ul .title {
    color: var(--light-color);
    font-size: 0.875rem; }
  footer .middle .left ul li a {
    color: var(--secondary-color);
    font-size: 0.875rem; }
  footer .middle .right form label {
    font-size: .75rem;
    color: var(--secondary-color); }
  footer .middle .right form input:not([type='checkbox']) {
    background-color: var(--ternary-color);
    border: 0;
    border-radius: 4px;
    font-size: .75rem;
    padding: 5px 15px;
    width: 250px; }
  footer .middle .right form .check {
    color: var(--secondary-color); }

footer .bottom {
  padding: 20px 0;
  background-color: var(--ternary-color); }
  footer .bottom .left span,
  footer .bottom .right span {
    color: var(--secondary-color);
    font-size: .875rem; }
