//fonts
$main-font: 'Roboto', sans-serif;

//colors
$main-color: #070a14;
$second-color: #131e32;
$third-color: #2a3550;

$text-color: #ffffff;
$second-text-color: #606b92;

$blue-color: #a0b7ff;


//mediaQueries
$x-small: 576px;
$small: 768px;
$medium: 992px;
$large: 1000px;
