.breadcrumb {
    list-style: none;
    margin: 0;
    overflow: hidden;
    font-size: 13px;
    font-weight: 700;

    li {
        float: left;

        &:before {
            display: none !important;
        }

        &:first-child a {
            padding-left: 10px;
        }

        &:last-child {
            background: transparent !important;


            a {
                background: transparent;
                padding-left: 40px;

                &:before {
                    display: none;
                }

                &:after {
                    display: none;
                }
            }
        }

        a {
            color: white;
            text-decoration: none;
            padding: 10px 0 10px 65px;
            background: $third-color;
            /* fallback color */
            background: third-color;
            position: relative;
            display: block;
            float: left;

            &:before {
                content: " ";
                display: block;
                width: 0;
                height: 0;
                border-top: 25px solid transparent;
                border-bottom: 25px solid transparent;
                border-left: 32px solid #131e32;
                position: absolute;
                top: 50%;
                margin-top: -25px;
                margin-left: 1px;
                left: 100%;
                z-index: 1;
            }

            &:after {
                content: " ";
                display: block;
                width: 0;
                height: 0;
                border-top: 20px solid transparent;
                border-bottom: 20px solid transparent;
                border-left: 28px solid $third-color;
                position: absolute;
                top: 50%;
                margin-top: -20px;
                left: 100%;
                z-index: 1;
            }
        }
    }
}

@media only screen and (max-width: $x-small) {
    .center {
        &-breadcrumb {
           nav{
               display: none;
           }
        }
    }
}
