.cart {
    margin-bottom: 10px;
    background-color: #ffffff;
    padding: 10px;

    .code-and-teams {
        height: 100%;
        font-size: 10px;

        .code {
            margin-right: 5px;
        }

        .teams {
            margin-left: 5px;
        }
    }

    .date-and-actions {
        height: 100%;

        .date {
            font-size: 10px;
            margin-right: 5px;

        }

        .chart-star {
            margin-left: 5px;

            .chart,
            .star {
                padding: 10px;
                background-color: #f1f4fb;
                border-radius: 2px;
            }

            .chart {
                margin-bottom: 3px;
            }

            .star {
                margin-top: 3px;
            }
        }

    }


    &-center {
        .rate-box {
            border: 1px solid #e8eaeb;
            background-color: #f1f4fb;
            border-radius: 3px;
            padding: 10px 1.5rem;
            color: #39425b;
            font-size: 13px;
        }
    }

    &-right {}
}

@media only screen and (max-width: $x-small) {
    .cart {
        .team-info {
            margin-bottom: 10px;
        }
        &-center {
            padding-right: 15px !important;
            .rate-box {
                padding: 5px 20px;
            }
        }
    }

}

@media only screen and (min-width: $x-small) and (max-width: $small) {
    .cart {
        .team-info {
            margin-bottom: 10px;

            .code-and-teams {
                font-size: 13px;

                .code {}

                .teams {
                    margin-left: 30px;
                }
            }
        }


        &-center {
            padding-right: 15px !important;

            .rate-box {
                padding: 5px 45px;
            }
        }
    }
}

@media only screen and (min-width: $small) and (max-width: $medium) {
    .cart {

        .team-info {
            margin-bottom: 10px;

            .code-and-teams {
                font-size: 13px;
            }
        }

        &-center {
            padding-right: 15px !important;

            .rate-box {
                padding: 5px 40px;
            }
        }

        &-right {}
    }
}

@media only screen and (min-width: $medium) {
    .cart {
        .team-info {
            .code-and-teams {
               
            }

         
        }


        &-center {
            .rate-box {}
        }

        &-right {}
    }
}