﻿:root {

--primary-color: #83B83F;
--primary-color-l: #D8EFD2;

--secondary-color: #F56AA9;
--secondary-color-l: #FFDDE4;

--tertiary-color: #FFC629;
--tertiary-color-l: #F6ECCC;

--quaternary-color: #3C89CE;
--quaternary-color-l: #C6E5F7;

--fifth-color: #9249A8;
--fifth-color-l: #DFC2E8;

  --text-light: #4A4A4A; 
  --text-dark: #1D3A57;

  --icon-light: #999999;

  --sm-screen: 576px;
  --md-screen: 768px;
  --lg-screen: 992px;
  --xl-screen: 1200px;

  --secondary-font: 'Baloo 2', cursive;
}