<!DOCTYPE html>
<html lang="en">
  <head>
    {%- include head.html -%}
  </head>
  <body>
    <div class="soundcloud">
      <iframe width="100%" height="20" scrolling="no" frameborder="no" allow="autoplay" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/1013676469&color=%23ff5500&inverse=false&auto_play=true&show_user=true"></iframe><div style="font-size: 10px; color: #cccccc;line-break: anywhere;word-break: normal;overflow: hidden;white-space: nowrap;text-overflow: ellipsis; font-family: Interstate,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Garuda,Verdana,Tahoma,sans-serif;font-weight: 100;"><a href="https://soundcloud.com/sfbdev" title="Furkan Bayram" target="_blank" style="color: #ff5500; text-decoration: none;">Furkan Bayram</a> · <a href="https://soundcloud.com/sfbdev/achluophobia" title="Achluophobia - Dark Techno Set" target="_blank" style="color: #222222; text-decoration: none;">Achluophobia - Dark Techno Set</a></div>
    </div>
    <main class="container">
     
      <section class="about">
        <a href="/"><img src="{{ "/assets/glasses.png" | relative_url }}" alt="{{ site.plainwhite.name }}"></a>
        <h2 id="title">
          <a class="about-link" href="/">{{ site.plainwhite.name }}</a>
        </h2>
        <p class="tagline">{{ site.plainwhite.tagline }}</p>
        <a class="about-link" href="/about">About me</a>
        <ul class="social">
            {%- if site.plainwhite.social_links.devto -%}
              <a href="https://dev.to/{{ site.plainwhite.social_links.devto }}" target="_blank">
                <li>
                  <img src="/assets/img/icons/devto.png" alt="Dev.to Icon"/>
                </li>
              </a>
            {%- endif -%}
          {%- if site.plainwhite.social_links.facebook -%}
            <a href="https://facebook.com/{{ site.plainwhite.social_links.facebook }}" target="_blank">
              <li>
                <img src="/assets/img/icons/facebook.svg" alt="Facebook Icon"/>
              </li>
            </a>
          {%- endif -%}
          {%- if site.plainwhite.social_links.github -%}
            <a href="https://github.com/{{ site.plainwhite.social_links.github }}" target="_blank">
              <li>
                <img src="/assets/img/icons/github.svg" alt="Github Icon"/>
              </li>
            </a>
          {%- endif -%}
  
          {%- if site.plainwhite.social_links.instagram -%}
            <a href="https://instagram.com/{{ site.plainwhite.social_links.instagram }}" target="_blank">
              <li>
                <img src="/assets/img/icons/instagram.svg" alt="Instagram Icon"/>
              </li>
            </a>
          {%- endif -%}
          {%- if site.plainwhite.social_links.linkedin -%}
            <a href="https://www.linkedin.com/{{ site.plainwhite.social_links.linkedin }}" target="_blank">
              <li>
                <img src="/assets/img/icons/linkedin.svg" alt="Linkedin Icon"/>
              </li>
            </a>
          {%- endif -%}
	{%- if site.plainwhite.social_links.twitter -%}
            <a href="https://twitter.com/{{ site.plainwhite.social_links.twitter }}" target="_blank">
              <li>
                <img src="/assets/img/icons/twitter.svg" alt="Twitter Icon"/>
              </li>
            </a>
          {%- endif -%}
         
        </ul>

        {%- if site.plainwhite.navigation -%}
          <nav class="navigation">
            <ul>
              {% for link in site.plainwhite.navigation %}
                <li>
                  <a href="{{ link.url }}">{{ link.title }}</a>
                </li>
              {% endfor %}
            </ul>
          </nav>
        {%- endif -%}

        <p>&copy;
          {{ "now" | date: "%Y" }}</p>
      </section>
      <section class="content">
        {{ content }}
      </section>
    </main>
    {%- if site.plainwhite.analytics_id -%}
      <script async src="https://www.googletagmanager.com/gtag/js?id={{ site.plainwhite.analytics_id }}"></script>
      <script>
		window.dataLayer = window.dataLayer || [];
		function gtag() { dataLayer.push(arguments); }
		gtag('js', new Date());

		gtag('config', '{{ site.plainwhite.analytics_id }}');
	</script>
    {%- endif -%}
  <!-- <script src="https://scepter.app/scepter.js?id=5f5a93bbb041d002cefb7c17"></script> -->
  </body>
</html>
